#summary{
    font-size: 20px;
    max-width: 1300px;
}

header{
    color: white;
    background-color: darkslategrey;
    padding: 10px;
}

.name{
    position: relative;
    font-family: sans-serif;
    float: right;
    padding-right: 20px;
    text-align: end;
    font-size: 20px;

}

#job{
    position: relative;
    bottom: 35px;    
    font-family: monospace;
    float: right;
    text-align: end;

}

.address{
    font-family: monospace;
    font-size: 15px;
    
}

.summary{
    color: darkslategrey;
}

.skill{
    color: darkslategrey;
    font-size: 17px;
}

.internship{
    color: darkslategrey;
    font-size: 17px;
}

.expirience{
    color: darkslategrey;
    font-size: 17px;
}

.college{
    position: relative;
    right: 20px;
    color: darkslategrey;
    font-size: 17px;
}

.education{    
    color: darkslategrey;
    font-size: 17px;
}

.social{    
    color: darkslategrey;
    font-size: 17px;
    text-align: center;
}
